USE [master]
GO
/****** Object:  Database [Bureau2]    Script Date: 5/2/2021 9:49:30 AM ******/
CREATE DATABASE [Bureau2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bureau2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Bureau2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bureau2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Bureau2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bureau2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bureau2]
GO
USE [Bureau2]
GO
/****** Object:  User [HDCE\bureau2]    Script Date: 5/2/2021 9:49:30 AM ******/
CREATE USER [HDCE\bureau2] FOR LOGIN [HDCE\bureau2] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [HDCE\bureau2]
GO
ALTER ROLE [db_datareader] ADD MEMBER [HDCE\bureau2]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [HDCE\bureau2]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/2/2021 9:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Firstname] [varchar](50) NULL,
	[Lastname] [varchar](50) NULL,
	[Createdate] [datetime] NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Createdate]  DEFAULT (getdate()) FOR [Createdate]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateUser]    Script Date: 5/2/2021 9:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_CreateUser]
(@Username varchar(50),
 @Firstname varchar(50),
 @Lastname varchar(50),
 @Createdate datetime,
 @password varchar(50)
 )
 as
 begin
   insert into Users (Username,Firstname,Lastname,Createdate,Password)
   Values(@Username,@Firstname,@Lastname,@Createdate,@password) 
 end
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 5/2/2021 9:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_login]
(@Username varchar(50),
 @password varchar(50)
 )
 as
 begin
   select * from Users where Username=@Username and Password=@password
 end
GO
/****** Object:  StoredProcedure [dbo].[sp_UsersList]    Script Date: 5/2/2021 9:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_UsersList]

 as
 begin
   select * from Users 
 end
GO
USE [master]
GO
